.footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 20px 10px;
  margin-top: 40px;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: white;
  font-size: 20px;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #00aced; /* Azul al pasar el mouse */
}
